<div id="container-instructions">

    <h1>Instructions - Video Recording using Phone (optional bonus money) </h1>

    <hr />

    <div class="instructions well">

        <p>
            This part is optional; but you will get additional 0.03 USD per image as bonus if you do the following:
        </p>

        <p>
            Meanwhile you are performing the task as instructed by the previous page, please video record the task screen using your mobile phones and make sure the videos taken satisfy the following criteria. Any violations of the rules below will result in NO bonus for this HIT. Videos recording the QR codes on your computer screen are purely used for examining the experimental timings.             
        </p>

        <ul>
          <li>Use your mobile phone to record the video and upload the video to our lab server provided in the end of the experiment. </li>
          <li>In the next page, a big QR code will be shown to you which reveals your assignment ID and worker ID (Demo picture 1 below). This marks the beginning of your experiment. Start recording from the next page and onwards. Keep recording and do NOT stop recording until the END of the whole experiment.</li>
          <li>In each trial, QR codes always appear at fixed position on the stimulus (Demo picture 2 below). Make sure you have ALL QR codes captured in your video throughout the task. </li>
          <li>We do NOT accept shaky videos. Please stablize your phone camera as much as possible during video shooting. </li>
          <li>Position QR code in the center of your camera.</li>
          <li>QR codes look clear NOT blurry on your camera.</li> 
          <li>We do NOT allow partial view of a QR code. In other words, QR codes cannot be patially occluded in the video frames.</li>          
        </ul> 

        <center>  <img src="static/images/instructiondemo.png" alt="demo pictures" style="width:65%">  </center>
 
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
