<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Use ONLY one word to describe what is in the red bounding box on the image. For only visualization purposes, the big red circle helps you localize the red bounding box easily. The red bounding box is always in the center of the big red circle. Type in your response in the text box. It must be ONLY ONE word, a noun. After this, click "SUBMIT" to go to the next image.

        </p>

    <p>
    <STRONG>NOTE1: Below is a sample image. In this example, the correct answer is "train" and is indicated in the text box. </STRONG>
    </p>

    <p>
    <STRONG>NOTE2: Make sure you are typing in one word. The word must be a noun. The word must be in singular form NOT plural form. The word must NOT have spaces or special characters. Violations of these rules will result in NO pay for that image.</STRONG>
    </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>
    <br>

    <div class="container">
        <div class="row">
          <div class="span4"></div>
            <div class="span4"><img class="center-block" src="http://kreiman.hms.harvard.edu/mturk/mengmi/expA_GTlabel_data/trial_1.jpg" alt="stimuli" style="width:65%"/></div>
          <div class="span4"></div>
        </div>
    </div>

    <center>Type ONLY one word:</center>

    <center> <input id="tag1" name="tag1" placeholder="train" required="" size="30" type="text" /></center>


    <div class="instructionsnav">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg pull-right continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>


	<hr />

</div>
