<div id="container-exp">
	<div id="trial">
		<h1>Respond Quickly!</h1>
		<p>What object is shown in the bounding box?</p>
		<div id="stim"></div>			
		<center>Type ONLY one word:</center>	
		<center><input id="response" name="response" value="" required="" size="30" type="text" /></center>
		<button type="button" id="submittrial" value="submittrial" class="btn btn-primary btn-lg pull-right">
                Submit <span class="glyphicon glyphicon-arrow-right"></span>
        </button>        
    	<div id="demo"></div>
	</div>
</div>
